/* src/styles/Banner.css */
.banner {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/79/Porto_de_Galinhas-002.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 20px;
    text-align: center;
  }
  
  .banner h2 {
    font-size: 2.5em;
    margin: 0;
  }
  
  .banner p {
    font-size: 1.2em;
    margin: 20px 0 0;
  }
  