
.Post {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8LZk99edcsR54PwG5xCQxW1kxzyDQ0iGM6A&s');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 20px;
    text-align: center;
  }
  
  .Post h2 {
    font-size: 2.5em;
    margin: 0;
  }
  
  .Post p {
    font-size: 1.2em;
    margin: 20px 0 0;
  }
  